# Bloqueia dependências em qualquer nível do projeto
**/node_modules/

# Bloqueia builds e compilações temporárias
**/dist/
**/.next/
**/build/

# Bloqueia as variáveis de ambiente (Credenciais de Banco/JWT)
**/.env

# Arquivos do sistema operacional
.DS_Store
Thumbs.db